
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
div.row-eventfilter{
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

}
 fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
 }

div.test-slider{
    width: 300px;
    display: flex;
}
p.pricename{
    display: flex;
}
div.events{
    height:100px;
    width:140px;
    overflow:auto;
    border:8px solid yellowgreen;
    padding:2%
}
div.map{
    height:100px;
    width:140px;
    overflow:auto;
    border:8px solid yellowgreen;
    padding:2%
}

